# dependencies
node_modules
/.pnpm-store
.npm-cache


# Next.js build and export outputs
/.next/
/out/

# Production build outputs (if any custom build scripts are used)
/build

# Local environment variables
.env*.local

# Vercel integration files
.vercel

# Debugging and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*.bak
